In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Para tratamiento de fechas
import datetime as dt
from datetime import timedelta

In [2]:
os.chdir('D:/DS/Kaggle')

In [3]:
# Load data
pageviews = pd.read_csv('./pageviews.csv')
# content_category = pd.read_csv('./CONTENT_CATEGORY.csv')
# content_category_bottom = pd.read_csv('./CONTENT_CATEGORY_BOTTOM.csv')
# content_category_top = pd.read_csv('./CONTENT_CATEGORY_TOP.csv')
device_data = pd.read_csv('./device_data.csv')
# page = pd.read_csv('./PAGE.csv')
# site_id = pd.read_csv('./SITE_ID.csv')
conversiones = pd.read_csv('./conversiones.csv', dtype={'mes' : 'object', 'anio' : 'object', 'USER_ID' : 'object'})

###  Procesamiento archivo conversiones

Elimino el '.0' de los datos de conversiones

In [4]:
conversiones['mes'] = pd.to_numeric(conversiones['mes'].str.replace('\.0', ''))
conversiones['anio'] = pd.to_numeric(conversiones['anio'].str.replace('\.0', ''))
conversiones['USER_ID'] = pd.to_numeric(conversiones['USER_ID'].str.replace('\.0', ''))
conversiones['conversion'] = 1
conversiones.head()

   mes  anio  USER_ID  conversion
0    7  2018     1410           1
1    8  2018    10755           1
2    8  2018     8270           1
3   10  2018     7558           1
4    9  2018    10731           1

### Procesamiento archivo pageviews

Crear columnas anio y mes

In [6]:
pageviews['USER_ID'] = pd.to_numeric(pageviews['USER_ID'])

# Creo campos para hacer el join con el archivo conversiones
pageviews['FEC_EVENT'] = pd.to_datetime(pageviews['FEC_EVENT'])
pageviews['anio'] = pageviews['FEC_EVENT'].dt.year
pageviews['mes'] = pageviews['FEC_EVENT'].dt.month
pageviews.head()

,FEC_EVENT,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID,anio,mes
0,2018-03-30 07:35:48,1,1,1,1,1,1,0,2018,3
1,2018-03-30 07:35:52,2,2,2,2,2,1,0,2018,3
2,2018-03-30 07:36:11,3,2,2,2,3,1,0,2018,3
3,2018-03-30 07:36:16,4,2,2,2,3,1,0,2018,3
4,2018-03-30 07:41:38,5,2,2,2,2,1,0,2018,3

### Merge datasets pageviews y conversiones
Hago un join y lleno con 0 en los casos que no hubo conversion

In [7]:
data = pd.merge(pageviews, conversiones, how='left')
data['conversion'] = data['conversion'].replace(np.nan, 0)
data.head()

,FEC_EVENT,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID,anio,mes,conversion
0,2018-03-30 07:35:48,1,1,1,1,1,1,0,2018,3,0.0
1,2018-03-30 07:35:52,2,2,2,2,2,1,0,2018,3,0.0
2,2018-03-30 07:36:11,3,2,2,2,3,1,0,2018,3,0.0
3,2018-03-30 07:36:16,4,2,2,2,3,1,0,2018,3,0.0
4,2018-03-30 07:41:38,5,2,2,2,2,1,0,2018,3,0.0

In [8]:
print('Usuarios con conversión en el último cuarto:')
print(data.loc[(data['mes'] >= 10) & (data['conversion'] == 1.0),:]['USER_ID'].nunique())
print('Usuarios sin conversión en el último cuarto:')
print(data.loc[(data['mes'] >= 10) & (data['conversion'] != 1.0),:]['USER_ID'].nunique())

Usuarios con conversión en el último cuarto:
309
Usuarios sin conversión en el último cuarto:
11343

### Sesiones por usuario

In [9]:
# Definimos un límite de tiempo entre eventos (Cuánto tiempo pasa hasta que expira la sesión?)
T = timedelta(seconds=30*60)

# data = data.loc[:,['USER_ID', 'FEC_EVENT', 'anio', 'mes']]
# Ordenamos el dataset por usuario y fecha de evento
data = data.sort_values(by=['USER_ID','FEC_EVENT'])

# Agregamos una columna con la fecha de evento anterior
data['last_date'] = data.groupby(['USER_ID'])['FEC_EVENT'].shift()

# Crear flag de nueva sesión cada vez que hay un nuevo ingreso
data['new_session'] = (((data['FEC_EVENT']
                            - data['last_date'])>=T) | (data['last_date'].isnull())).astype(int)
data['inc'] = data.groupby('USER_ID')['new_session'].cumsum()

# Creamos el id de sesión
data['session_id'] = data['USER_ID'].astype(str) + '_' + data['inc'].astype(str)
data = data.drop('inc', axis=1)

print(data.head())

              FEC_EVENT  PAGE  CONTENT_CATEGORY  CONTENT_CATEGORY_TOP  \
284 2018-01-01 09:56:47    14                 4                     2
285 2018-01-01 09:57:19    14                 4                     2
286 2018-01-01 09:57:48    12                 4                     2
287 2018-01-01 09:57:48    10                 4                     2
288 2018-01-01 09:57:49    11                 4                     2

     CONTENT_CATEGORY_BOTTOM  SITE_ID  ON_SITE_SEARCH_TERM  USER_ID  anio  \
284                        4        2                    1        0  2018
285                        4        2                    1        0  2018
286                        4        2                    1        0  2018
287                        4        2                    1        0  2018
288                        4        2                    1        0  2018

     mes  conversion           last_date  new_session session_id
284    1         0.0                 NaT            1        0_1
285    1         0.0 2018-01-01 09:56:47            0        0_1
286    1         0.0 2018-01-01 09:57:19            0        0_1
287    1         0.0 2018-01-01 09:57:48            0        0_1
288    1         0.0 2018-01-01 09:57:48            0        0_1

# Agrupar por id de usuario, año y mes para el dataset final

Para cada usuario, año y mes, tengo la cantidad de sesiones, si convirtió o no en ese mes, y la fecha del último evento

In [11]:
grouped_data = data.groupby(['USER_ID','anio','mes'], as_index=False).agg({'new_session':'count', 'conversion':'sum', 'FEC_EVENT':'max'})
grouped_data['conversion'] = np.where(grouped_data['conversion']> 0, 1, 0)

grouped_data.shape

(104255, 6)

## Dataset para entrenar el modelo
Entrenamos con los datos de los meses 1 a 9 de 2018, para luego predecir en el último trimestre del 2018

Features:
- promedio de sesiones por mes
- cantidad de conversiones anteriores
- tiempo desde el último evento

In [18]:
byuser = grouped_data.loc[grouped_data['mes'] < 10,]
byuser = byuser.groupby('USER_ID', as_index=False).agg({'new_session':'mean', 'conversion':'sum', 'FEC_EVENT':'max'})
byuser = byuser.rename(columns = {'conversion':'prev_conversions','new_session':'session_count'
                                  , 'FEC_EVENT':'last_event'})
byuser['time_since_last_event'] = ((dt.datetime.now() - byuser['last_event'])).astype('timedelta64[s]')
byuser = byuser.drop('last_event', axis = 1)

#### Agregamos los labels

In [19]:
# Convirtieron en el último cuarto?
labels = grouped_data.loc[grouped_data['mes'] >= 10,]
labels = labels.groupby('USER_ID', as_index=False).agg({'conversion':'sum'})
labels['conversion'] = np.where(labels['conversion']> 0, 1, 0)

byuser = pd.merge(byuser, labels, how='inner')
byuser = byuser.set_index('USER_ID', drop=True)
byuser.head()

         session_count  prev_conversions  time_since_last_event  conversion
USER_ID
0           545.777778                 0             26187106.0           0
1           181.555556                 0             26184518.0           0
2           190.777778                 0             26432430.0           0
3           172.666667                 0             26374911.0           0
4           275.333333                 0             26438995.0           0

In [14]:
byuser.to_csv('train.csv', sep=',', header=True)

## Dataset para predecir
Predecimos con los datos de todo 2018 si va a haber una conversión en el primer trimestre del 2019

In [15]:
final = grouped_data.groupby('USER_ID', as_index=False).agg({'new_session':'sum', 'conversion':'sum', 'FEC_EVENT':'max'})
final = final.rename(columns = {'conversion':'prev_conversions','new_session':'session_count'
                                  , 'FEC_EVENT':'last_event'})
final['time_since_last_event'] = ((dt.datetime.now() - final['last_event'])).astype('timedelta64[s]')
final = final.drop('last_event', axis = 1)
final = final.set_index('USER_ID', drop=True)
final.head()

         session_count  prev_conversions  time_since_last_event
USER_ID
0                 6431                 0             18275252.0
1                 2111                 0             18312851.0
2                 2368                 0             18588448.0
3                 1935                 0             18347621.0
4                 3105                 0             18480079.0

In [16]:
final.to_csv('test.csv', sep=',', header=True)