In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Para tratamiento de fechas
import datetime as dt
from datetime import timedelta

In [2]:
os.chdir('D:/DS/Kaggle')

In [3]:
# Load data
# pageviews = pd.read_csv('./pageviews.csv')
# content_category = pd.read_csv('./CONTENT_CATEGORY.csv')
# content_category_bottom = pd.read_csv('./CONTENT_CATEGORY_BOTTOM.csv')
# content_category_top = pd.read_csv('./CONTENT_CATEGORY_TOP.csv')
# device_data = pd.read_csv('./device_data.csv')
# page = pd.read_csv('./PAGE.csv')
# site_id = pd.read_csv('./SITE_ID.csv')
# conversiones = pd.read_csv('./conversiones.csv', dtype={'mes' : 'object', 'anio' : 'object', 'USER_ID' : 'object'})

## Carga de tabla de observaciones

In [4]:
# Load data
obs = pd.read_csv('./observaciones_Vero.csv')
# obs['FEC_EVENT'] = pd.to_datetime(obs['FEC_EVENT'])
obs = obs.drop([obs.columns[0]], axis='columns')
obs.head()

,USER_ID,Q,paginas_visitadas,conversiones_previas,ultimo_evento,page_group,diames,diasemana,hora,cantidad_sesiones,conversion,month_q_prob,next_quarter,tiempo_ultimo_evento
0,0,20181,3,0,2018-03-31 20:08:59,0.032008,0.035888,0.035298,0.035729,131,0,0.035776,2018-04-01,13861.0
1,0,20182,3,0,2018-06-29 17:37:09,0.032840,0.035940,0.035691,0.035035,90,0,0.035776,2018-07-01,109371.0
2,0,20183,3,0,2018-09-30 20:13:42,0.033387,0.035113,0.035653,0.035141,114,0,0.035776,2018-10-01,13578.0
3,0,20184,3,0,2018-12-31 09:56:25,0.034517,0.035169,0.035735,0.035439,107,0,0.035776,2019-01-01,50615.0
4,1,20181,3,0,2018-03-28 20:13:03,0.032513,0.035715,0.035298,0.035226,43,0,0.035776,2018-04-01,272817.0

In [5]:
freq = pd.read_csv('./observaciones_Frec.csv')
freq = freq.drop([freq.columns[0]], axis='columns')

obs = pd.merge(obs, freq, how='inner')
obs.head()

,USER_ID,Q,paginas_visitadas,conversiones_previas,ultimo_evento,page_group,diames,diasemana,hora,cantidad_sesiones,...,month_q_prob,next_quarter,tiempo_ultimo_evento,prestamo,transferencia,inversiones,solicitud,quiero,pagos,eminent
0,0,20181,3,0,2018-03-31 20:08:59,0.032008,0.035888,0.035298,0.035729,131,...,0.035776,2018-04-01,13861.0,0.011111,0.168789,0.029167,0.000000,0.087081,0.688496,10.554481
1,0,20182,3,0,2018-06-29 17:37:09,0.032840,0.035940,0.035691,0.035035,90,...,0.035776,2018-07-01,109371.0,0.000000,0.441288,0.101852,0.000000,0.082386,0.515362,11.759575
2,0,20183,3,0,2018-09-30 20:13:42,0.033387,0.035113,0.035653,0.035141,114,...,0.035776,2018-10-01,13578.0,0.000000,0.662384,0.000000,0.000000,0.060627,0.749606,7.644692
3,0,20184,3,0,2018-12-31 09:56:25,0.034517,0.035169,0.035735,0.035439,107,...,0.035776,2019-01-01,50615.0,0.009009,1.279147,0.153153,0.009009,0.074957,1.009671,0.000000
4,1,20181,3,0,2018-03-28 20:13:03,0.032513,0.035715,0.035298,0.035226,43,...,0.035776,2018-04-01,272817.0,0.000000,0.169192,0.000000,0.000000,0.016667,1.234343,10.651010

In [6]:
freq = pd.read_csv('./observaciones_Dev.csv')
freq = freq.drop([freq.columns[0]], axis='columns')

obs = pd.merge(obs, freq, how='inner')
obs.head()

,USER_ID,Q,paginas_visitadas,conversiones_previas,ultimo_evento,page_group,diames,diasemana,hora,cantidad_sesiones,...,quiero,pagos,eminent,pages,connection_speed,is_mobile,s3,s2,s1,s0
0,0,20181,3,0,2018-03-31 20:08:59,0.032008,0.035888,0.035298,0.035729,131,...,0.087081,0.688496,10.554481,1.691880,0.996795,110.0,0.0,0.0,109.5,0.5
1,0,20182,3,0,2018-06-29 17:37:09,0.032840,0.035940,0.035691,0.035035,90,...,0.082386,0.515362,11.759575,1.686973,1.843677,94.0,41.0,0.0,51.0,2.0
2,0,20183,3,0,2018-09-30 20:13:42,0.033387,0.035113,0.035653,0.035141,114,...,0.060627,0.749606,7.644692,1.257516,1.972549,114.0,56.0,0.0,58.0,0.0
3,0,20184,3,0,2018-12-31 09:56:25,0.034517,0.035169,0.035735,0.035439,107,...,0.074957,1.009671,0.000000,1.009259,2.079079,109.0,60.0,0.0,47.0,2.0
4,1,20181,3,0,2018-03-28 20:13:03,0.032513,0.035715,0.035298,0.035226,43,...,0.016667,1.234343,10.651010,1.315296,0.060606,35.0,0.0,0.0,2.0,35.0

## Dataset para entrenar el modelo
Entrenamos con los datos de los meses 1 a 9 de 2018, para luego predecir en el último trimestre del 2018

Features:
- promedio de sesiones por mes
- cantidad de conversiones anteriores
- tiempo desde el último evento

In [7]:
train = obs.loc[obs['Q'] < 20184,]

train['ind'] = (train['USER_ID'].astype(str) + train['Q'].astype(str)).astype(str)
train = train.drop(columns=['USER_ID','Q','next_quarter'])
train = train.set_index('ind')
print(train.shape)
train.head()

(26852, 25)

C:\Users\vfarfan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,paginas_visitadas,conversiones_previas,ultimo_evento,page_group,diames,diasemana,hora,cantidad_sesiones,conversion,month_q_prob,...,quiero,pagos,eminent,pages,connection_speed,is_mobile,s3,s2,s1,s0
ind,,,,,,,,,,,,,,,,,,,,,
020181,3,0,2018-03-31 20:08:59,0.032008,0.035888,0.035298,0.035729,131,0,0.035776,...,0.087081,0.688496,10.554481,1.691880,0.996795,110.000000,0.0,0.0,109.5,0.5
020182,3,0,2018-06-29 17:37:09,0.032840,0.035940,0.035691,0.035035,90,0,0.035776,...,0.082386,0.515362,11.759575,1.686973,1.843677,94.000000,41.0,0.0,51.0,2.0
020183,3,0,2018-09-30 20:13:42,0.033387,0.035113,0.035653,0.035141,114,0,0.035776,...,0.060627,0.749606,7.644692,1.257516,1.972549,114.000000,56.0,0.0,58.0,0.0
120181,3,0,2018-03-28 20:13:03,0.032513,0.035715,0.035298,0.035226,43,0,0.035776,...,0.016667,1.234343,10.651010,1.315296,0.060606,35.000000,0.0,0.0,2.0,35.0
120182,3,0,2018-06-29 10:00:10,0.032788,0.036102,0.035232,0.037198,48,0,0.035776,...,0.061988,1.325146,11.105430,1.359148,0.111111,46.333333,0.0,0.0,5.0,43.0

In [8]:
train.to_csv('train.csv', sep=',', header=True)

## Dataset para predecir
Predecimos con los datos de todo 2018 si va a haber una conversión en el primer trimestre del 2019

In [9]:
test = obs.loc[obs['Q'] == 20184,]
test['ind'] = (test['USER_ID'].astype(str) + test['Q'].astype(str)).astype(str)
test = test.drop(columns=['USER_ID','Q','next_quarter'])
test = test.set_index('ind')
print(test.shape)
test.head()

(11363, 25)

C:\Users\vfarfan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,paginas_visitadas,conversiones_previas,ultimo_evento,page_group,diames,diasemana,hora,cantidad_sesiones,conversion,month_q_prob,...,quiero,pagos,eminent,pages,connection_speed,is_mobile,s3,s2,s1,s0
ind,,,,,,,,,,,,,,,,,,,,,
020184,3,0,2018-12-31 09:56:25,0.034517,0.035169,0.035735,0.035439,107,0,0.035776,...,0.074957,1.009671,0.000000,1.009259,2.079079,109.0,60.0,0.0,47.0,2.0
120184,3,0,2018-12-30 23:29:46,0.033931,0.035011,0.035142,0.034554,49,0,0.035776,...,0.012821,2.197941,0.760295,1.164530,0.433761,43.5,0.0,5.0,11.0,34.0
220184,3,0,2018-12-27 18:56:29,0.035188,0.034493,0.035232,0.033491,50,0,0.035776,...,0.233333,4.283333,0.466667,1.421212,1.416667,40.0,10.0,5.0,36.0,0.0
320184,3,0,2018-12-30 13:50:16,0.034165,0.035952,0.036185,0.035446,41,0,0.035776,...,0.000000,1.422222,0.274074,1.309524,1.037037,38.0,0.0,1.0,41.0,0.0
420184,3,0,2018-12-29 01:02:38,0.035243,0.035206,0.035426,0.035658,43,0,0.035776,...,0.058081,0.055556,0.000000,1.102273,1.132576,1.5,0.0,6.0,37.0,0.0

In [10]:
test.to_csv('test.csv', sep=',', header=True)

In [11]:
train['conversiones_previas'].value_counts()

0    26063
3      772
2       14
1        3
Name: conversiones_previas, dtype: int64